// from bootstrap
dl {
  margin-top: 0px;
  margin-bottom: $spacing-unit / 2;
}

dt {
  font-weight: 700;
}

$lines-descr-offset: 4;

.dl-lines {
  dd {
    margin-left: $base-font-size * $lines-descr-offset + $spacing-unit / 2;
  }

  dt {
    float: left;
    width: $base-font-size * $lines-descr-offset;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
